@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /*Colors Primary*/
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    /*Colors neutral*/
    --vpaleBlue: hsl(225, 100%, 98%);
    --desatBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
    /* Fonts */
    --fontPrimary: 'Red Hat Display', sans-serif;
    /* Shadows */
    --shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.05);
}
body {
    font-family: var(--fontPrimary);
    font-size: 16px;
    background: url('./images/pattern-background-desktop.svg') no-repeat;
    background-position: center;
    background-color: var(--paleBlue);
    background-size: cover;
    height: 50%;
}
main {
    display: block;
    width: 375px;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
    background: white;
    border-radius: 15px;
    box-shadow: var(--shadow);
}
.image-header img {
    display: block;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.content {
    padding: 25px;
    text-align: center;
}
.content h1 {
    margin-bottom: 15px;
    font-weight: 900;
}
.content p {
    margin-bottom: 15px;
}
.content .price-plan {
    display: flex;
    padding: 25px;
    border-radius: 7px;
    justify-content: space-between;
    margin-bottom: 25px;
    
    background: var(--vpaleBlue);
}
.content .price-plan .option {
    margin: auto 0 auto 35px;
}
.content .price-plan a {
    font-weight: 700;
}
.button {
    background: var(--brightBlue);
    color: white;
    padding: 10px;
    margin: 10px 0 30px 0;
    border-radius: 7px;
    box-shadow: var(--shadow);
}
.button:hover {
    background: var(--desatBlue);
    cursor: pointer;
}
.content span a {
    text-decoration: none;
    font-weight: 700;
    color: var(--desatBlue);
    
}